.game {
  text-align: center;
  font-size: 21px;
}

.game_header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.game_title {
  font-size: 18px;

  @media screen and (min-width: 480px) {
    font-size: 32px;
  }
}

.game_title__right {
  justify-self: end;
}

.game_message {
  min-height: 50px;
  font-weight: bold;
}

.game_message__correct {
  color: green;
}

.game_message__incorrect {
  color: red;
}
