/* Customize the label (the container) */
.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 21px;
  line-height: 26px;

  &:focus-visible {
    outline: -webkit-focus-ring-color auto 1px;
  }
}

/* Hide the browser's default radio button */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;

}

/* Create a custom radio button */
.checkbox_checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: transparent;
  border: 1px solid gray;
}

/* On mouse-over, add a grey background color */
.checkbox:hover .checkbox_checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a white background */
.checkbox input:checked ~ .checkbox_checkmark {
  background-color: #065fb1;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkbox_checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.checkbox input:checked ~ .checkbox_checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.checkbox_checkmark:after {
  left: 9px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
